trunk/docs/html
trunk/docs/latex
trunk/test/CMakeCache.txt
trunk/test/CMakeFiles/*
trunk/test/COMPOZIT_VM_TESTS
trunk/test/CTestTestfile.cmake
trunk/test/Makefile
trunk/test/Testing/*
trunk/test/cmake_install.cmake

trunk/src/CMakeCache.txt
trunk/src/CMakeFiles/*
trunk/src/composite_vm
trunk/src/CTestTestfile.cmake
trunk/src/Makefile
trunk/src/Testing/*
trunk/src/cmake_install.cmake



trunk/regressions/CMakeFiles/*	
trunk/regressions/CTestTestfile.cmake
trunk/regressions/cmake_install.cmake
trunk/src/liblib_composite_vm.a